footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: antiquewhite;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-top: 1px solid black;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.2);
}