section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    height: 70vh;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 12px black;
    gap:1rem;
    width: 100%;
    max-width: 400px;
}
input{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
input:focus{
    border: 2px solid lightgreen;
    outline: none;
}
form button{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}
form button:hover{
    background-color: greenyellow;
}

@media (max-width:768px){
    form{
        padding: 1.5rem;
        width:100%;
    }
    section{
        padding: 2rem 1rem;
    }
}