nav{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    padding: .75rem;
}
nav ul{
    display: flex;
    list-style: none;
    gap:1.5rem;
}
nav ul li{
    cursor: pointer;
    
}
nav div{
    display: flex;
    gap: 1.5rem;
}
nav div button{
    padding: 0.5rem 1rem;
    background-color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

@media(max-width:768px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    nav ul{
        flex-direction: column;
        gap: 0.5rem;
    }
    
}